a:hover
{
    color: #AAAAF8;
}

#pageHeader
{
    color: #6392C6;
    font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 200%;
}

#pageContent
{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}

#error
{
    color: #FF0000;
}

.userPanel
{
    text-align: center;
    font-weight: none;
    font-size: 9px;
    font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
}

.variableLabel
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2px;
    border-style: none;
    text-align: left;
    font-weight : bold;
}

.variableText
{
    font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2px;
    border-style: none;
}